<div class="marca-container">
  <div class="categories">
    <h2>{{'ExploreInstantCoupons'|translate}}</h2>
    <div class="category-buttons">
      <button mat-button *ngFor="let category of categories" (click)="changeCategory(category.idMenu)"
        class="category-button">
        {{ category.descripcion }}
      </button>
    </div>
  </div>

  <div class="controls">
    <button mat-button (click)="changeView('mosaic')">{{'MosaicView'|translate}}</button>
    <button mat-button (click)="changeView('gallery')">{{'GalleryView'|translate}}</button>
    <button mat-button (click)="changeSort('nombreMarca')">{{'SortbyName'|translate}}</button>
    <button mat-button (click)="changeSort('descripcion')">{{'SortbyDescription'|translate}}</button>
  </div>

  <div *ngIf="view === 'mosaic'" class="mosaic-view">
    <mat-card *ngFor="let marca of displayedMarcas" class="mosaic-item">
      <img mat-card-image [src]="marca.imagen" alt="{{marca.nombreMarca}}">
      <mat-card-content>
        <h3>{{ marca.nombreMarca }}</h3>
        <p>{{ marca.descripcion }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Get Coupon</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="view === 'gallery'" class="gallery-view">
    <mat-card *ngFor="let marca of displayedMarcas" class="gallery-item">
      <img mat-card-image [src]="marca.imagen" alt="{{marca.nombreMarca}}">
      <mat-card-actions>
        <button mat-button>Get Coupon</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <button class="" mat-button (click)="loadMore()">More Instant Coupons</button>
</div>